# Exclude everything
/*

# Specific includes

## Editorconfig
!.editorconfig

## Pre-commit
!.pre-commit-config.yaml

## Build System/Scripts
!/.config
!/global.json
!/NuGet.Config
!/Directory.Build.props
!/Directory.Build.targets
!/build.sh

## Markdowns
!*.md
!/LICENSE
!/licenses

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Libraries
!/libs

## Solution
!ThunderstoreCLI.sln

### C# Projects
!/ThunderstoreCLI
/ThunderstoreCLI/[Bb]in
/ThunderstoreCLI/[Oo]bj
/ThunderstoreCLI/[Dd]ist

!/ThunderstoreCLI.Tests
/ThunderstoreCLI.Tests/[Bb]in
/ThunderstoreCLI.Tests/[Oo]bj
/ThunderstoreCLI.Tests/[Dd]ist

### Rust Projects
!/tcli-bepinex-installer
/tcli-bepinex-installer/target

# Explicit exceptions/ignores
**.user
!**.template.*.user
